.advantages {
    padding-bottom: 0;
  }
  .advantages-name {
    margin-bottom: 10px;
  
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
  }
  .advantages-item-bg {
    margin-bottom: 30px;
    height: 120px;
    align-items: center;
    display: flex;
  
    border-radius: 4px;
  
    background: var(--btn-background-color);
    justify-content: center;
  }
  .advantages-list {
    display: flex;
    gap: 30px;
  }
  .advantajes-icon {
    justify-content: center;
  }
  .advantages-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }
  /* ----------WHAT WE DO----------  */
  .service-title {
    margin-bottom: 50px;
  
    display: flex;
    justify-content: center;
  }
  .servise-list {
    display: flex;
    gap: 30px;
  }
  .servse-item-overlay {
    position: relative;
  }
  .servise-item-label {
    position: absolute;
    bottom: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
  
    background: rgba(47, 48, 58, 0.8);
    color: rgba(255, 255, 255, 1);
  
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
  }