.footer-subscribe-container {
    display: block;
  }
  .footer-subscribe-title {
    color: var(--first-background-color);
  
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    margin-bottom: 20px;
  }
  .subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .subscriibe-email {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
  
    width: 358px;
    height: 50px;
  
    color: var(--first-background-color);
  }
  .subscriibe-email::placeholder {
    color: rgba(255, 255, 255, 0.6);
  
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
  .subscribe-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: var(--btn-hover-background-color);
    color: var(--first-background-color);
  
    gap: 10px;
    border-radius: 4px;
    border-color: transparent;
  }
  .subscribe-btn span {
  }
  .subscribe-icon {
    fill: var(--first-background-color);
  }
  