.mobile-menu {
  display: none;
  position:fixed;
  width: 100%;
  max-height: 796px;
  z-index: 1;
  top:0;
  left:0;

  background-color:var(--first-background-color);
}

.mobile-menu_container {
position: relative;

padding-left: 25px;
padding-top: 48px;
padding-bottom: 48px;


}

.mobile-menu_close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border:none;
    padding:0;
    line-height: 0;
}

.mobile-menu {
}
.container {
}
.mobile-menu_container {
}
.mob-menu-list {
}
.mobile-menu__item {
}
.mobile-menu__link {
}
.mobile-menu-connect {
}
.connect__item {
}
.connect__link {
}
.mobile-menu-connect__item {
}
.mobile-menu-connect__link {
}
.mobile-soc-list {
}
.mobile-soc__item {
}
.mobile-soc__link {
}
