:root {
    /* Colors */
    --main-text-color: #212121;
    --main-link-color: #212121;
    --btn-color: #212121;
    --btn-background-color: #f5f4fa;
    --second-text-color: #757575;
    --third-text-color: #ffffff;
    --btn-hover-color: #ffffff;
    --btn-hover-background-color: #2196f3;
    --main-background-color: #f5f5f5;
    --link-hover-color: #2196f3;
    --logo-color-1: #2196f3;
    --logo-color-2: #000000;
    --first-background-color: #ffffff;
    --second-background-color: #2f303a;
    --icon-main-color: #afb1b8;
    --transition-value: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }