.advantages {
    padding-bottom: 0;
  }
  .card-list {
    display: flex;
    gap: 30px;
  }
  .card-list__title {
    margin-bottom: 10px;
  
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
  }
  .card-list__item-bg {
    margin-bottom: 30px;
    height: 120px;
    align-items: center;
    display: flex;
  
    border-radius: 4px;
  
    background: var(--btn-background-color);
    justify-content: center;
  }
  .card-list__icon {
    justify-content: center;
  }
  .card-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }

  