.footeer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: var(--second-background-color);
  }
  .footer-adress-container {
    margin-right: 70px;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .footer-container .site-logo {
    margin-bottom: 20px;
  }
  .footer-logo {
    display: inline-block;
    text-decoration: none;
  }
  .logo__word-studio--white {
    color: var(--third-text-color);
  }
  .adress {
    font-style: normal;
  }
  .map-link {
    display: inline-block;
    margin-bottom: 9px;
  
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    text-decoration: none;
  }
  .footer-contacts-list :first-child {
    margin-bottom: 9px;
  }
  .footer-contact {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  .footer-soc-container {
    margin-right: 93px;
    display: inline-block;
    width: 206px;
    height: 80px;
  }
  .footer-soc-title {
    margin-bottom: 10px;
  
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--third-text-color);
  }
  .footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .footer-soc-item {
    width: 44px;
    height: 44px;
  }
  .footer-soc-link {
    transition: background-color var(--transition-value);
  
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: rgba(255, 255, 255, 0.1);
  }
  .footer-soc-link:hover,
  .footer-soc-link:focus {
    background-color: var(--btn-hover-background-color);
  }
  .footer-soc-icon {
    fill: var(--first-background-color);
  }
  /* ----------FORM SUBSCRIBE--------- */
  .footer-subscribe-container {
    display: block;
  }
  .footer-subscribe-title {
    color: var(--first-background-color);
  
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    margin-bottom: 20px;
  }
  .subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .subscriibe-email {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
  
    width: 358px;
    height: 50px;
  
    color: var(--first-background-color);
  }
  .subscriibe-email::placeholder {
    color: rgba(255, 255, 255, 0.6);
  
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
  .subscribe-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: var(--btn-hover-background-color);
    color: var(--first-background-color);
  
    gap: 10px;
    border-radius: 4px;
    border-color: transparent;
  }
  .subscribe-btn span {
  }
  .subscribe-icon {
    fill: var(--first-background-color);
  }