.studio-hero {
    padding-top: 200px;
    padding-bottom: 200px;
  
    background-color: var(--second-background-color);
    text-align: center;
  
    background-color: #c4c4c4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
//   Mobile
 @media screen and (max-width:767px) {
    .studio-hero {
        background-image: url(/imajes/Hero/hero-bg-mob.jpg);
    }
 }
@media 
  screen and (min-device-pixel-ratio: 2)and (max-width:767px),
  screen and (min-resolution: 192dpi)   and (max-width:767px),
  screen and (min-resolution: 2dppx)    and (max-width:767px){
    .studio-hero {
        background-image: url(/imajes/Hero/hero-bg-mob2x.jpg);
    }
  }


// Tablet 
@media screen and (min-width:768px) {
    .studio-hero {
        background-image: url(/imajes/Hero/hero-bg-tablet.jpg);
    }
}

@media 
  screen and (min-device-pixel-ratio: 2) and (min-width:768px),
  screen and (min-resolution: 192dpi) and (min-width:768px),
  screen and (min-resolution: 2dppx) and (min-width:768px) {
    .studio-hero {
        background-image: url(/imajes/Hero/hero-bg-tablet2x.jpg);
    }
  }


// Desctop
@media screen and (min-width:1200px) {
    .studio-hero {
        background-image: url(/imajes/Hero/hero-bg-desctop.jpg);
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
  screen and (min-resolution: 192dpi) and (min-width:1200px),
  screen and (min-resolution: 2dppx) and (min-width:1200px) {
    .studio-hero {
        background-image: url(/imajes/Hero/hero-bg-desctop2x.jpg);
    }
  }












//   .studio-hero__title {
//     display: block;
//     width: 696px;
//     margin: 0 auto;
//     margin-bottom: 30px;
  
//     font-style: normal;
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: var(--third-text-color);
//   }
//   .studio-hero__btn {
//     min-width: 216px;
//     height: 50px;
  
//     font-family: inherit;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.88;
//     color: var(--btn-hover-color);
//     align-items: center;
//     text-align: center;
//     letter-spacing: 0.06em;
//     background: var(--logo-color-1);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     border-color: transparent;
//   }